ACT_TEST=true
GITHUB_REPOSITORY='change_me_org/change_me_repo'
GH_REPO=$GITHUB_REPOSITORY
newIssueStatus='todo'
newPrStatus='todo'
statusName='status'
effortName='effort'
monthlyMilestoneName='monthly milestone'
quarterlyMilestoneName='quarterly milestone'
effortMapping='[{"pattern": "two days", "value": 2},{"pattern": "the longest one", "value": 1e1000}]'
