ACT_TEST=true
GITHUB_REPOSITORY='change_me_org/change_me_repo'
GH_REPO=$GITHUB_REPOSITORY
newItemStatus='todo'
statusName='status'
effortName='effort'
monthlyMilestoneName='monthly milestone'
quarterlyMilestoneName='quarterly milestone'
effortMapping='{"two days": 2, "workweek": 5}'
