on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  automate:
    runs-on: ubuntu-latest
    name: Synchronize Issues and PRs
    steps:
      - uses: ory-corp/planning-automation-action@main
        with:
          project: 5
          token: ${{ secrets.PLANNING_AUTOMATION_TOKEN }}
          org: ory-corp
